<!DOCTYPE html>
<html>
    <head>
        <title>Thoughts</title>
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css">
        <script src="/static/runtime.b.js"></script>
        <script src="/static/vendor.b.js"></script>
        <script src="/static/fabric_ui.b.js"></script>
        <script>
            const active_user = {{js-json user}}; 
            window.active_user = active_user;
        </script>
        <script src="/static/main.b.js"></script>
    </head>
    <body class="ms-Fabric" dir="ltr" style="margin: 0">
        <div id="render-root"></div>
    </body>
</html>