<p>This is a verification email as your email has been changed</p>
<p>If this was not done by you, contact your administrator as there may be a security problem</p>
<p>If this was you then finish the verification process by going <a href="{{origin}}/auth/verify_email?id={{verify_id}}">here</a></p>